* {
	margin: 0;
	border: 0;
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
	/*font-family: 'Source Sans Pro', sans-serif;*/
}

.card-img-top {
	height: 250px;
}

.delete {
	background-color: indianred;
	color: white;
}
.delete:hover {
	background-color: gray;

}